# Copyright (c) 2026 Michele Dipace <michele.dipace@kaffeine.net>
# SPDX-License-Identifier: MIT

build/*
!.gitkeep

telegram-token.txt
telegram-password.txt
*.token
*.token.txt
*.password.txt
*.local.md
telegram-*-self-test.tmp

*.o
*.a
*.so
*.dylib
*.exe

.DS_Store
